@import "mocha.css"; 

* {
    font-family: "MesloLGL Nerd Font Mono Bold";
    font-size: 12px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @overlay0;
    opacity: 0.9;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    color: #ffffff;
    font-size: 13px
}

#clock.date {
    color: #ffffff;
    
}

#pulseaudio {
    color: @blue;
   
}

#custom-power {
    color: #ffffff;
    font-size: 16px;
}

#custom-brightness {
    color: @green;
    
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}